<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=learnazure6096;AccountKey=dvU1p3DX0lgp/EP4p5jBIiVULwAjon7lzIHEey+yi9ytoS0oUKBHrCE56Kx08wyD8nQPdsjy3KIHgmkAuDfAxQ==" />
  </appSettings>
</configuration>